@page "/"
@using AvcolForms.Core.Notifications
@attribute [Authorize]
@inject UserManager<ApplicationUser> _userManager;
@inject NavigationManager _navManager;
@inject AuthenticationStateProvider authenticationStateProvider


<PageTitle>Home</PageTitle>

<MudBreadcrumbs Items="@items"></MudBreadcrumbs>

<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Home</MudText>

<MudGrid Justify="Justify.Center">
<MudItem>
    <MudButton Size="Size.Large" Style="display:flex;" OnClick="@(() => _navManager.NavigateTo(Routes.Accounts.Account))">
        <MudCard Outlined="true">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5" Align="Align.Center">Account</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large"></MudIcon>
                </div>
            </MudCardContent>
        </MudCard>
    </MudButton>
</MudItem>
<MudItem>
    <MudButton Size="Size.Large" OnClick="@(() => _navManager.NavigateTo(Routes.Forms.Dash))">
        <MudCard Outlined="true">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5" Align="Align.Center">Forms</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <MudIcon Icon="@Icons.Material.Filled.Forum" Size="Size.Large"></MudIcon>
                </div>
            </MudCardContent>
        </MudCard>
    </MudButton>
</MudItem>
</MudGrid>